@import "../../../assets/styles/colors.scss";

.button-container {
  width: auto;
  height: auto;
  padding: 5px;
  background-color: var(--secondary);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px var(--box-shadow);
}
