@import "../../assets/styles/colors.scss";

/*
 * Programming projects section.
 */
.programming {
  height: auto;
  background-color: var(--base);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
  }

  .description-text {
    text-align: center;
    font-size: 20px;
  }

  .card-image {
    border-radius: 2%;
    width: 100%;
    margin: 0px;
    padding: 0px
  }

  .mobile-image {
    width: 100%;
    height: auto;
    border-radius: 2%;
  }
}

.mv-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
