@import "../../assets/styles/colors.scss";

/*
 * Programming projects section.
 */
.programming {
  height: auto;
  background-color: var(--base);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
  }

  .mobile-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 10px;
  }

  /*
     * Cards used to display each programming project.
     */
  .nav-card {
    border: 1px solid var(--invert);
    border-radius: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--invert);
    height: auto;
    width: auto;

    .card-title {
      text-align: center;
      font-size: 28px;
      font-weight: bold;
    }

    .description-text {
      text-align: center;
      font-size: 20px;
    }

    .card-image {
      border-radius: 2%;
    }

    .mobile-image {
      width: 100%;
      height: auto;
      border-radius: 2%;
    }
  }
}
