@import "../../assets/styles/colors.scss";

/*
 * Art section.
 */
.art {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  height: auto;
}

/*
   * Art images.
   */
.image {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  transition: all 0.5s;
}

.image:hover {
  transform: scale(1.2);
}
