.theme-light {
  --base: white;
  --primary: #6b7a8f;
  --secondary: #f7882f;
  --invert: black;
}

.theme-dark {
  --base: #121212;
  --primary: #232323;
  --secondary: #6b7a8f;
  --invert: white;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--base);
}

.toolbar {
  position: fixed;
  z-index: 10;
  background-color: var(--primary);
  height: 50px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);

  .name {
    position: relative;
    padding-left: 75px;
    margin-top: 7px;
    font-size: 30px;
    float: left;
    color: var(--invert);
  }

  .toggle-label {
    float: right;
    padding-right: 10px;
    color: var(--invert);
  }

  .toggle {
    position: relative;
    z-index: 2;
    height: 30px;
    width: 60px;
    margin-top: 7px;
    margin-right: 75px;
    border: 1px solid #000000;
    border-radius: 20px;
    float: right;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      border-radius: 20px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }

    .slider:before {
      position: absolute;
      border-radius: 20px;
      content: "";
      height: 24px;
      width: 24px;
      left: 5px;
      top: 3px;
      background-color: white;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }

    input:checked + .slider {
      background-color: var(--secondary);
    }

    input:focus + .slider {
      box-shadow: 0 0 1px var(--secondary);
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  // z-index: 10;

  .header-text {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    background-color: var(--secondary);
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
  }
}

.banner {
  display: flex;
  height: auto;
  text-align: center;
  margin-bottom: -6%;
  position: relative;

  .bannerImage {
    width: 100%;
    height: 100%;
  }

  .welcomeText {
    position: absolute;
    width: auto;
    color: white;
    font-weight: bold;
    bottom: 45%;
    left: 55%;
  }
}

.diagonalLine {
  transform: skewY(6.5deg);
  width: 100%;
  height: 300px;
  background-color: var(--base);
}

.aboutMe {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -200px;
  padding-bottom: 20px;
  background-color: var(--base);

  .description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .description-text {
      width: 60%;
      text-align: center;
      color: var(--invert);
    }

    .mobile-text {
      width: 100%;
      padding: 10px;
      text-align: center;
    }
  }
}

.art {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  height: auto;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 40%;
  }
}

.image {
  width: 100%;
  height: 100%;
}

.programming {
  height: auto;
  background-color: var(--base);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
  }

  .mobile-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 10px;
  }

  .nav-card {
    border: 1px solid var(--invert);
    border-radius: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--invert);
    height: auto;
    width: auto;

    .card-title {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }

    .description-text {
      text-align: center;
      font-size: 20px;
    }

    .mobile-image {
      width: 100%;
      height: auto;
    }
  }
}

.footer {
  background-color: var(--primary);
  height: 50px;
  width: 100%;

  .name {
    padding-left: 75px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 30px;
    color: var(--invert);
  }
}
